body {
  font-family: sans-serif;
  text-align: center;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#github-button {
  background-color: #4caf50;
  color: #fff;
}

#create-repo-button {
  background-color: #2196f3;
  color: #fff;
}